page-login {
    h2 {
        text-align: center;
    }

    img {
        width: 200px;
        margin: auto;
        margin-top: 10%;
        align-self: center;
        display: block;
        padding: 10px;
    }
}
