page-login {
    h3 {
        text-align: center;
    }

    img {
        width: 300px;
        margin: auto;
        margin-top: 30%;
        align-self: center;
        display: block;
        padding: 10px;
    }
}
