<ion-header>

  <ion-navbar color="greenlight">
    <ion-title>{{nomeJogador}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button (click)="chamaPaginaAdicionarLance()" ion-fab mini color="greenlight">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card>
    <ion-avatar>
      <img class="circle" [src]="jogador?.imageUrl || 'assets/imgs/avatar-blank.png'">
    </ion-avatar>
    <h2 text-center>{{jogador?.nome}}</h2>
    <p text-center>{{jogador?.data_nasc}}</p>
    <p text-center>Nacionalidade {{jogador?.nacionalidade}}</p>
    <p text-center>Modalidade: {{jogador?.modalidade.descricao}}</p>
    <p text-center>{{jogador?.posicoes[0].descricao}}</p>
  </ion-card>

  <ion-card *ngFor="let item of items">
    <ion-item>
      <h2><b>{{item.titulo}}</b></h2>
      <p>{{item.data_publicacao}}</p>
    </ion-item>
    <div text-center>
      <iframe width="250" height="200" [src]="sanitize(item.urlVideo)" frameborder="0" allowfullscreen></iframe>
      <!--<button ion-button round icon-start color="danger" (click)="openMyVideo()">
          <ion-icon name="logo-youtube"></ion-icon>
          Play Vídeo
        </button>-->
    </div>
    <ion-card-content>
      <p>{{item.descricao}}</p>
      <p>{{item?.complemento}}</p>
    </ion-card-content>
    <div text-right>
      <button ion-button round icon-start clear large (click)="openMyVideo()">
        <ion-icon name="ios-create" item-end color="greenlight"></ion-icon>
      </button>
      <button ion-button round icon-start clear large (click)="openMyVideo()">
        <ion-icon name="trash" item-end color="danger"></ion-icon>
      </button>
    </div>
  </ion-card>
  <ion-item *ngIf="verificaReg() <= 0">
    <h3>Você não possui Nenhum Vídeo Cadastrado</h3>
  </ion-item>

</ion-content>