<ion-header>
  <ion-navbar color="white">
    <div text-center>
      <h5>FILTRAR</h5>
    </div>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">
        <ion-icon name="md-close" item-end (click)="closeModal()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="filtrar(); $event.preventDefault()">
    <!--
    <ion-item>
      <ion-label floating>Estado Nascimento*</ion-label>
      <ion-select [(ngModel)]="jogador.estado_nasc" name="estado_nasc (ionChange)="updateCidades()">
        <ion-option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Cidade Nascimento*</ion-label>
      <ion-select [(ngModel)]="jogador.municipio_nasc" name="municipio_nasc"></ion-select>
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.nome">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>
    -->
    <ion-item>
      <ion-label floating>Modalidade Esportiva</ion-label>
      <ion-select formControlName="idModalidade" (ionChange)="updatePosicoes()">
        <ion-option *ngFor="let modalidade of modalidades; first as f" [value]="modalidade.id" [selected]="f">
          {{modalidade.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Posição</ion-label>
      <ion-select formControlName="idPosicao">
        <ion-option *ngFor="let modalidadePosicao of modalidadePosicoes" [value]="modalidadePosicao.id" [selected]="f">
          {{modalidadePosicao.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-list radio-group formControlName="sexo">
      <ion-list-header>
        Sexo*
      </ion-list-header>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Feminino</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Altura Inicial</ion-label>
              <ion-input formControlName="alturaInicial" type="tel" pattern="[0-9]*">
              </ion-input>
              cm
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Altura Final</ion-label>
              <ion-input formControlName="alturaFinal" type="tel" pattern="[0-9]*"></ion-input>
              cm
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!--
    <ion-item>
      <ion-range lower="10" upper="90" pin="true" formControlName="pesoInicial" color="secondary">
        <ion-icon range-left small name="contrast"></ion-icon>
        <ion-icon range-right name="contrast"></ion-icon>
      </ion-range>
    </ion-item>
    -->

    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Peso Inicial</ion-label>
              <ion-input formControlName="pesoInicial" type="tel" pattern="[0-9]*"></ion-input>
              kg
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Peso Final</ion-label>
              <ion-input formControlName="pesoFinal" type="tel" pattern="[0-9]*"></ion-input>
              cm
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list radio-group formControlName="profissionalizacao" name="profissionalizacao">
      <ion-list-header>
        Profissionalização
      </ion-list-header>
      <ion-item>
        <ion-label>Atleta Profissional</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Atleta Amador</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-list radio-group formControlName="perna_preferida">
      <ion-list-header>
        Perna Preferida
      </ion-list-header>
      <ion-item>
        <ion-label>Direita</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Esquerda</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>

  </form>
  <div text-center>
    <button ion-button outline color="greenlight" (click)="closeModal()">Limpar Filtros</button>
    <button ion-button color="greenlight" (click)="filtrarModal()">Filtrar</button>
  </div>
</ion-content>