page-visualizar-detalhes-jogador {
    .masters {
        background-color: #F8F8FF;
    }

    .text {        
        text-align: center;
        //font-family: Impact;
    }

    .circle {
        width: 40%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }
}
