<ion-header>

  <ion-navbar color="greenlight">
    <ion-title>Cadastro de Jogador</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="signupJogador(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>CPF*</ion-label>
              <ion-input formControlName="cpf" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Data Nascimento*</ion-label>
              <ion-input formControlName="data_nasc" type="date"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Nacionalidade*</ion-label>
              <ion-select formControlName="nacionalidade">
                <ion-option value="Brasil">Brasil</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Estado Nascimento*</ion-label>
              <ion-select formControlName="estado_nasc" (ionChange)="updateCidades()">
                <ion-option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label stacked>Cidade Nascimento*</ion-label>
      <ion-select formControlName="municipio_nasc">
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.nome">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-list radio-group formControlName="sexo">
      <ion-list-header>
        Sexo*
      </ion-list-header>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Feminino</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Altura*</ion-label>
              <ion-input formControlName="altura" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Peso*</ion-label>
              <ion-input formControlName="peso" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list radio-group formControlName="profissionalizacao">
      <ion-list-header>
        Profissionalização*
      </ion-list-header>
      <ion-item>
        <ion-label>Atleta Profissional</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Atleta Amador</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label stacked>Código CBF</ion-label>
      <ion-input formControlName="codigo_cbf" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Modalidade Esportiva*</ion-label>
      <ion-select formControlName="idModalidade" (ionChange)="updatePosicoes()">
        <ion-option *ngFor="let modalidade of modalidades; first as f" [value]="modalidade.id" [selected]="f">
          {{modalidade.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Posição Principal*</ion-label>
      <ion-select formControlName="idPosicao1">
        <ion-option *ngFor="let modalidadePosicao of modalidadePosicoes; first as f" [value]="modalidadePosicao.id"
          [selected]="f">{{modalidadePosicao.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Posição Secundária</ion-label>
              <ion-select formControlName="idPosicao2">
                <ion-option *ngFor="let modalidadePosicao of modalidadePosicoes"
                  [value]="modalidadePosicao.id">{{modalidadePosicao.descricao}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Posição Terciária</ion-label>
              <ion-select formControlName="idPosicao3">
                <ion-option *ngFor="let modalidadePosicao of modalidadePosicoes"
                  [value]="modalidadePosicao.id">{{modalidadePosicao.descricao}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list radio-group formControlName="perna_preferida">
      <ion-list-header>
        Perna Preferida*
      </ion-list-header>
      <ion-item>
        <ion-label>Direita</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Esquerda</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Prefixo Fone*</ion-label>
              <ion-input formControlName="prefixo_fone" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>DDD Fone*</ion-label>
              <ion-input formControlName="ddd_fone" type="text"></ion-input>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label stacked>Fone*</ion-label>
      <ion-input formControlName="fone" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Complemento</ion-label>
      <ion-input formControlName="complemento" type="textarea"></ion-input>
    </ion-item>
    <button ion-button block type="submit" color="greenlight">Cadastrar Jogador</button>
  </form>

</ion-content>