<ion-header>

  <ion-navbar color="greenlight">
    <ion-title>Cadastro de Jogador</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="signupJogador(); $event.preventDefault()">
    <ion-item>
      <ion-label floating>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>CPF*</ion-label>
      <ion-input formControlName="cpf" type="tel" pattern="[0-9]*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors" margin-left>Valor inválido</p>
    <!--<ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime formControlName="data_nasc" displayFormat="MMM DD YYYY" [(ngModel)]="event.month"></ion-datetime>
    </ion-item>-->
    <ion-item>
      <ion-label stacked>Data Nascimento*</ion-label>
      <ion-input formControlName="data_nasc" type="date"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.data_nasc.dirty && formGroup.controls.data_nasc.errors" margin-left>Valor inválido</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Nacionalidade*</ion-label>
              <ion-select formControlName="nacionalidade">
                <ion-option value="Brasil">Brasil</ion-option>
              </ion-select>
            </ion-item>
            <p class="danger" *ngIf="formGroup.controls.nacionalidade.dirty && formGroup.controls.nacionalidade.errors" margin-left>Valor inválido</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Estado Nascimento*</ion-label>
              <ion-select formControlName="estado_nasc" (ionChange)="updateCidades()">
                <ion-option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</ion-option>
              </ion-select>
            </ion-item>
            <p class="danger" *ngIf="formGroup.controls.estado_nasc.dirty && formGroup.controls.estado_nasc.errors" margin-left>Valor inválido</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label floating>Cidade Nascimento*</ion-label>
      <ion-select formControlName="municipio_nasc">
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.nome">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.municipio_nasc.dirty && formGroup.controls.municipio_nasc.errors" margin-left>Valor inválido</p>
    <ion-list radio-group formControlName="sexo">
      <ion-list-header>
        Sexo*
      </ion-list-header>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Feminino</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <p class="danger" *ngIf="formGroup.controls.sexo.dirty && formGroup.controls.sexo.errors" margin-left>Valor inválido</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Altura*</ion-label>
              <ion-input formControlName="altura" type="tel" pattern="[0-9]*"></ion-input>
              cm
            </ion-item>
            <p class="danger" *ngIf="formGroup.controls.altura.dirty && formGroup.controls.altura.errors" margin-left>Valor inválido</p>
          </div>
        </ion-col>        
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Peso*</ion-label>
              <ion-input formControlName="peso" type="tel" pattern="[0-9]*"></ion-input>
              kg
            </ion-item>
            <p class="danger" *ngIf="formGroup.controls.peso.dirty && formGroup.controls.peso.errors" margin-left>Valor inválido</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list radio-group formControlName="profissionalizacao">
      <ion-list-header>
        Profissionalização*
      </ion-list-header>
      <ion-item>
        <ion-label>Atleta Profissional</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Atleta Amador</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <p class="danger" *ngIf="formGroup.controls.profissionalizacao.dirty && formGroup.controls.profissionalizacao.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>Código CBF</ion-label>
      <ion-input formControlName="codigo_cbf" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Modalidade Esportiva*</ion-label>
      <ion-select formControlName="idModalidade" (ionChange)="updatePosicoes()">
        <ion-option *ngFor="let modalidade of modalidades; first as f" [value]="modalidade.id" [selected]="f">
          {{modalidade.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.idModalidade.dirty && formGroup.controls.idModalidade.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>Posição Principal*</ion-label>
      <ion-select formControlName="idPosicao1">
        <ion-option *ngFor="let modalidadePosicao of modalidadePosicoes" [value]="modalidadePosicao.id"
          [selected]="f">{{modalidadePosicao.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.idPosicao1.dirty && formGroup.controls.idPosicao1.errors" margin-left>Valor inválido</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Posição Secundária</ion-label>
              <ion-select formControlName="idPosicao2">
                <ion-option *ngFor="let modalidadePosicao of modalidadePosicoes"
                  [value]="modalidadePosicao.id">{{modalidadePosicao.descricao}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Posição Terciária</ion-label>
              <ion-select formControlName="idPosicao3">
                <ion-option *ngFor="let modalidadePosicao of modalidadePosicoes"
                  [value]="modalidadePosicao.id">{{modalidadePosicao.descricao}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list radio-group formControlName="perna_preferida">
      <ion-list-header>
        Perna Preferida*
      </ion-list-header>
      <ion-item>
        <ion-label>Direita</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Esquerda</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <p class="danger" *ngIf="formGroup.controls.perna_preferida.dirty && formGroup.controls.perna_preferida.errors" margin-left>Valor inválido</p>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>Prefixo Fone*</ion-label>
              <ion-input formControlName="prefixo_fone" type="tel" pattern="[0-9]*"></ion-input>
            </ion-item>
            <p class="danger" *ngIf="formGroup.controls.prefixo_fone.dirty && formGroup.controls.prefixo_fone.errors" margin-left>Valor inválido</p>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label floating>DDD Fone*</ion-label>
              <ion-input formControlName="ddd_fone" type="tel" pattern="[0-9]*"></ion-input>
            </ion-item>
            <p class="danger" *ngIf="formGroup.controls.ddd_fone.dirty && formGroup.controls.ddd_fone.errors" margin-left>Valor inválido</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label floating>Fone*</ion-label>
      <ion-input formControlName="fone" type="tel" pattern="[0-9]*"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.fone.dirty && formGroup.controls.fone.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label floating>Complemento</ion-label>
      <ion-input formControlName="complemento" type="textarea"></ion-input>
    </ion-item>
    <button ion-button block type="submit" color="greenlight" [disabled]="formGroup.invalid">Cadastrar Jogador</button>
  </form>

</ion-content>