<ion-header>

  <ion-navbar color="greenlight">
    <ion-title>Seus Jogadores</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="masters">
  <ion-fab bottom right>
    <button (click)="chamaPaginaJogador()" ion-fab mini color="greenlight">
      <ion-icon name="md-person-add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeJogador(item.produto)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>

      <ion-item (click)="showDetail(item.id, item.nome)">
        <ion-thumbnail item-start>
          <img [src]="item.imageUrl || 'assets/imgs/avatar-blank.png'">
        </ion-thumbnail>
        <h2><b>{{item.nome}}</b></h2>
        <p>Nasc.: {{item.data_nasc}}</p>
        <p>Nacionalidade: {{item.nacionalidade}}</p>
        <p>{{item.profissionalizacao==1 ? 'Jogador Profissional' : 'Jogador Amador'}}</p>
        <p>{{item.modalidade.descricao}}</p>
        <p>Posições: {{item.posicoes[0].descricao}}</p>
        <!--<ion-icon name="ios-create" item-end color="greenlight" (click)="verificaReg()"></ion-icon>
        <ion-icon name="trash" item-end color="danger" (click)="removeJogador(item.produto)"></ion-icon>-->
      </ion-item>
      
    </ion-item-sliding>
    <ion-item *ngIf="verificaReg() <= 0">
      <h3>Você não possui Nenhum Jogador</h3>
    </ion-item>
  </ion-list>
</ion-content>