<ion-header>

  <ion-navbar color="greenlight">
    <ion-title>Lista de Observação</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="masters">
  <!--<ion-searchbar placeholder="Pesquisar por nome..." (ionInput)="getItems($event)"></ion-searchbar>-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab bottom right>
    <button (click)="chamaPaginaBuscaJogador()" ion-fab mini color="greenlight">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-item (click)="showDetail(item.id, item.nome)">
        <ion-thumbnail item-start>
          <img [src]="item.imageUrl || 'assets/imgs/avatar-blank.png'">
        </ion-thumbnail>
        <h2><b>{{item.nome}}</b></h2>
        <p>Nasc.: {{item.data_nasc}}</p>
        <p>Nacionalidade: {{item.nacionalidade}}</p>
        <p>{{item.profissionalizacao==1 ? 'Jogador Profissional' : 'Jogador Amador'}}</p>
        <p>{{item.modalidade.descricao}}</p>
        <p>Posições: {{item.posicoes[0].descricao}}</p>
      </ion-item>
        <ion-icon name="md-chatbubbles" item-end color="greenlight" (click)="enviarEmail(item.email)"></ion-icon>
        <ion-icon name="trash" item-end color="danger" (click)="removeJogador(item.produto)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="verificaReg() <= 0">
      <h3>Sua Lista de Observação está Vazia</h3>
    </ion-item>
  </ion-list>
</ion-content>