<ion-header>

  <ion-navbar color="greenlight">
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="masters">
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Senha*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item> 
    <p class="danger" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors" margin-left>Valor inválido</p>
    <ion-item>
      <ion-label stacked>Tipo de Usuário*</ion-label>
      <ion-select formControlName="tipoUsuario">
        <ion-option value="1">Jogador de Futebol</ion-option>
        <ion-option value="2">Clube de Futebol</ion-option>
        <ion-option value="3">Olheiro/Empresário</ion-option>
      </ion-select>
    </ion-item>    
    <p class="danger" *ngIf="formGroup.controls.tipoUsuario.dirty && formGroup.controls.tipoUsuario.errors" margin-left>Valor inválido</p>
    <button ion-button block type="submit" color="greenlight" [disabled]="formGroup.invalid">Continuar</button>
  </form>
</ion-content>
