page-signup {

    .toolbar-background {
        border-color: transparent;
    }

    h4 {
        font-family: Impact;
        text-align: center;
        color: #60646B;
    }

    .buttons {
        margin-top: 40%;
    }

    a {
        color: #ffffff;
    }

    .danger {
        color: red;
    }
}
