<ion-header>

  <ion-navbar color="greenlight">
    <ion-title>Cadastro de Clube</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="signupClube(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Modalidade Esportiva Principal*</ion-label>
      <ion-select formControlName="idModalidade1">
        <ion-option *ngFor="let modalidade of modalidades; first as f" [value]="modalidade.id" [selected]="f">{{modalidade.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Modalidade Esportiva Secundária</ion-label>
      <ion-select formControlName="idModalidade2">
        <ion-option *ngFor="let modalidade of modalidades; first as f" [value]="modalidade.id">{{modalidade.descricao}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-list radio-group formControlName="profissionalizacao">
      <ion-list-header>
        Profissionalização*
      </ion-list-header>
      <ion-item>
        <ion-label>Clube Profissional</ion-label>
        <ion-radio checked="true" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Clube Amador</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item>
      <ion-label stacked>Código CBF</ion-label>
      <ion-input formControlName="registro_cbf" type="text"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>País*</ion-label>
              <ion-select formControlName="pais">
                <ion-option value="Brasil">Brasil</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-label stacked>Estado*</ion-label>
              <ion-select formControlName="estado" (ionChange)="updateCidades()">
                <ion-option *ngFor="let estado of estados" [value]="estado.id">{{estado.nome}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label stacked>Cidade*</ion-label>
      <ion-select formControlName="municipio">
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.nome">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Complemento</ion-label>
      <ion-input formControlName="complemento" type="text"></ion-input>
    </ion-item>
    <button ion-button block type="submit" color="greenlight">Cadastrar Clube</button>
  </form>

</ion-content>